{% extends 'base/base.html' %}
{% load static %}
{% load extra_tags %}

{% block title %}Üzenetek{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <a href="{% url "new_message" %}" class="btn btn-secondary">Új üzenet</a>
        </div>
        
{#        <div class="row">#}
{#            {% for conversation in private_conversations %}#}
{#                {% for member in conversation.get_other_participants %}#}
{#                    member.felhasznalonev#}
{#                {% endfor %}#}
{#                -#}
{#            {{ conversation.get_last_message }}#}
{#            {% endfor %}#}
{#        </div>#}
    </div>
{% endblock %}
{% block scripts %}
    <script>

    </script>
{% endblock %}
