<form method="post">
    {% csrf_token %}

    <label for="felhasznalo">Felhasználó:</label>
    <select name="felhasznalo" id="felhasznalo">
        {% for f in felhasznalok %}
            <option value="{{ f.id }}">{{ f }}</option>
        {% endfor %}
    </select>
    <br><br>

    <label for="csoport">Csoport:</label>
    <select name="csoport" id="csoport">
        {% for c in csoportok %}
            <option value="{{ c.id }}">{{ c }}</option>
        {% endfor %}
    </select>
    <br><br>

    <label for="kuldesi_ido">Küldési idő:</label>
    <input type="datetime-local" name="kuldesi_ido" id="kuldesi_ido">
    <br><br>

    <label for="tartalom">Tartalom:</label>
    <textarea name="tartalom" id="tartalom" maxlength="1000"></textarea>
    <br><br>

    <button type="submit">Küldés</button>
</form>
